go 1.19

use (
	cloudwego/common
	cloudwego/payment
	cloudwego/kitex-contrib/obs-opentelemetry/logging/zap
	cloudwego/kitex-contrib/gorm
	doraemon/ai-creator
	doraemon/openai
	cloud/aws/cdk/serverless-openai-chatbot
	cloud/aws/cdk/serverless-openai-chatbot/server/lambda/golang/push
)
